:root {
  --Family: "Montserrat", sans-serif;
  --primary-color: #fce9f1;
  --secondary-color: #F1D4E5;
  --accent: #73bbc9;
  --dark: #080202;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Family);
}

:after, :before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar section styling */
.button-effect {
  transition: background-color 0.3s, transform 0.3s;
}

.button-effect:hover {
  background-color: orange !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.buttons-container {
  position: absolute;
  top: 80%;
  display: none;
  align-items: center;
  justify-items: center;
  transition: opacity 0.3s;
}

.nav-item:hover .buttons-container,
.nav-item:focus .buttons-container {
  display: flex;
  opacity: 1;
}

.buttons-container button {
  display: block;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-item:hover .buttons-container button,
.nav-item:focus .buttons-container button {
  opacity: 1;
  transform: translateY(0);
}

.signup-button,
.signin-button {
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #3e82af;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.signup-button:hover,
.signin-button:hover {
  background-color: orange;
}

/* End of navbar section styling */

/* Hero-section stying */

.hero-section {
  /* position: relative; */
  background: var(--primary-color);
  overflow: hidden;
  height: 100%;
}

.hero-content {
  margin: 10% 0;
}
.hero-content h1 {
  font-family: var(--Family);
  font-size: 5rem;
  font-weight: 900;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
}
.hero-flex-first span {
  color: var(--accent);
}

.hero-flex-first p {
  color: gray;
  font-family: var(--Family);
  font-weight: 400;
  font-size: 1.6rem;
}
.hero-flex-second {
}



.hero-btn {
  background-color: var(--accent);
  padding: 2% 4%;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 8px;
}

/* Features section styling */

.features-container {
  background-color: var(--secondary-color);
  padding: 7rem 3%;
}

.features-header {
  text-align: center;
}
.features-header h3 {
  font-weight: 600;
  color: var(--accent);
}
.features-header h2 {
  font-weight: 700;
  font-size: 2.6rem;
}

.features {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 7%;
}

.advantage{
  justify-content: space-between;
}

.advantage h3 {
  font-weight: 700;
  font-size: 20px;
}

.advantage p{
  max-width: 80%;
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

.advantage__icon {
  /* position: absolute;
  left: 0;
  top: 1.19rem;*/
  width: 20%; 
  filter: drop-shadow(0 .6rem .9rem rgba(0,0,0,.3));
}

.advantage__icon img {
  max-width: 100%;
}

.feature-btn {
  width: 50%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  margin-top: 5%;
}

.feature-btn button {
  text-transform: uppercase;
}

.feature-btn .btn-1, .feature-btn .btn-2 {
  padding: 4% 5%;
  text-align: center;
}

.feature-btn .btn-1 {
  background-color: orange;
  border-radius: 0 28px 10px 28px;
}

.feature-btn .btn-1:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
  background-color: var(--accent);
  color: white;
  font-weight: 600;
}

.feature-btn .btn-2 {
  background-color: var(--accent);
  border-radius: 28px 0 28px 10px;
}

.feature-btn .btn-2:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
  background-color: orange;
  color: white;
  font-weight: 600;
}


/* End of features section styling */

/* Apply section */
.apply-container {
  background-color: var(--dark);
  padding: 50px 0;
}

.apply-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-form {
  width: 50%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apply-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.apply-form p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}

.applyForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.applyForm input[type="text"],
.applyForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.applyForm textarea {
  height: 120px;
}

.applyForm input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.applyForm input[type="submit"]:hover {
  background-color: #555;
}

.apply-text {
  width: 50%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apply-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.apply-text p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}



/* End of apply section */



/* .background {
    width: 50%;
}

.bg--1 {
    width: 80rem;
    top: 0;
    right: 0;
}

.bg--2 {
    top: 5rem;
    width: 57.44rem;
    right: 0;
}

.bg--2 img {
    width: 106.4%;
    transform: translate(-2.4%, -1.4%);
}

.section__one__container {
    position: relative;
    padding: 9.16rem 0 11rem 5.5rem;
    overflow: visible;
}

.poster-promo-wrap {
    width: 50.6rem;
    height: 31.6rem;
    position: absolute;
    z-index: 3;
    left: 3.4rem;
    top: 3.4rem;
    overflow: hidden;
}

.poster-promo-wrap img {
    width: 112%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tablet-img {
    width: 100%;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    font-family: Corbel, sans-serif;
    font-weight: 700;
    color: #010101;
    text-shadow: #010101 0 0 .5px;
    font-size: 3rem;
    line-height: 4rem;
    width: 50rem;
    text-align: left;
    letter-spacing: .078em;
}

.hero-description {
    position: relative;
    margin-top: 2.13rem;
    width: 49.69rem;
    line-height: 2.25rem;
    z-index: 2;
}

.text-desktop {
    display: inline;
}

.text-tablet {
    display: none;
}

 */

@media (max-width: 768px) {
  .background {
    display: none;
  }

  .text-tablet {
    display: block;
  }
}
