/* Navbar section styling */
.button-effect {
    transition: background-color 0.3s, transform 0.3s;
}

.button-effect:hover {
    background-color: orange !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.buttons-container {
    position: absolute;
    top: 80%;
    display: none;
    align-items: center;
    justify-items: center;
    transition: opacity 0.3s;
}

.nav-item:hover .buttons-container,
.nav-item:focus .buttons-container {
    display: flex;
    opacity: 1;
}

.buttons-container button {
    display: block;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.nav-item:hover .buttons-container button,
.nav-item:focus .buttons-container button {
    opacity: 1;
    transform: translateY(0);
}

.signup-button,
.signin-button {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #3e82af;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.signup-button:hover,
.signin-button:hover {
    background-color: orange;
}

/* End of navbar section styling */

/* Hero-section stying */

.hero-section {
    position: relative;
    background: linear-gradient(35deg, #3e82af 20%, #f49f33);
    overflow: hidden;
    max-height: 100%;

}

.background {
    width: 50%;
}

.bg--1 {
    width: 80rem;
    top: 0;
    right: 0;
}

.bg--2 {
    top: 5rem;
    width: 57.44rem;
    right: 0;
}

.bg--2 img {
    width: 106.4%;
    transform: translate(-2.4%, -1.4%);
}

.section__one__container {
    position: relative;
    padding: 9.16rem 0 11rem 5.5rem;
    overflow: visible;
}

.poster-promo-wrap {
    width: 50.6rem;
    height: 31.6rem;
    position: absolute;
    z-index: 3;
    left: 3.4rem;
    top: 3.4rem;
    overflow: hidden;
}

.poster-promo-wrap img {
    width: 112%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tablet-img {
    width: 100%;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    font-family: Corbel, sans-serif;
    font-weight: 700;
    color: #010101;
    text-shadow: #010101 0 0 .5px;
    font-size: 3rem;
    line-height: 4rem;
    width: 50rem;
    text-align: left;
    letter-spacing: .078em;
}

.hero-description {
    position: relative;
    margin-top: 2.13rem;
    width: 49.69rem;
    line-height: 2.25rem;
    z-index: 2;
}

.text-desktop {
    display: inline;
}

.text-tablet {
    display: none;
}






@media (max-width: 768px) {
    .background {
        display: none;
    }

    .text-tablet {
        display: block;
    }
}